name: Build and Push Docker Image

on:
  push:
    branches: [docker]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract git revision
        id: get_git_rev
        run: |
          GIT_REV=$(git rev-parse --short HEAD)
          echo "git_rev=$GIT_REV" >> $GITHUB_OUTPUT

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/iot_orchestrator

      # Optionally, create a Git tag for the revision (disabled by default)
      # - name: Create Git tag
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   run: |
      #     git config user.name github-actions
      #     git config user.email github-actions@github.com
      #     git tag git-${{ steps.get_git_rev.outputs.git_rev }}
      #     git push origin git-${{ steps.get_git_rev.outputs.git_rev }}
