name: Go Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.19'
      - name: Get dependencies
        run: go mod download
      - name: Build
        run: go build -o ./main .
      - name: Test
        run: go test ./...
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-${{ github.sha }}
          path: ./main