name: Go Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.25.3'
      - name: Run package script
        run: bash package.sh
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: iot_orchestrator
          path: ./iot_orchestrator.zip
